{% set lessons = filter.lessons %}
<div class="left_column_lessons filter_form_container">
    <form method="get" action="{{url('lessons-learned')}}" id="filter-lessons-form">
        <div id="search" class="search" style="display: flex;">
            <input class="search" name="searchQuery" type="text" autocomplete="on" placeholder="Search" value="{{searchQuery}}">
            <button class="form-btn search-btn" type="submit">
                <i class="pr p-search big"></i>
            </button>

        </div>

        <div class="fields custom-select filter-lessons-form mt-2">

            {% set allChecked = true %}
            {% for cat in categories %}
            {% set allChecked = false %}
            {% endfor %}
            <label class="ch_container">Policy & planning
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="1" id="category_1" {% for category in categories %} {% if category == 1 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>
            <label class="ch_container">Social impact
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="2" id="category_2" {% for category in categories %} {% if category == 2 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>
            <label class="ch_container">Co-creation & empowerment
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="3" id="category_3" {% for category in categories %} {% if category == 3 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>

            <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="four_m">4M</label>
                    <select id="four_m-dropdown" name="four_m[]" multiple="multiple">
                        <optgroup label="4M"></optgroup>
                        <option value="Material" {% if "Material" in four_m %} selected {% endif %}>Material</option>
                        <option value="Methods" {% if "Methods" in four_m %} selected {% endif %}>Methods</option>
                        <option value="Management" {% if "Management" in four_m %} selected {% endif %}>Management</option>
                        <option value="Monitoring" {% if "Monitoring" in four_m %} selected {% endif %}>Monitoring</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="city-dropdown">City</label>
                    <select id="city-dropdown" name="city">
                        <optgroup label="City"></optgroup>
                        <option value="" {% if not city %} selected {% endif %}>Select an option</option>
                        <option value="Hamburg" {% if city == "Hamburg" %} selected {% endif %}>Hamburg</option>
                        <option value="London" {% if city == "London" %} selected {% endif %}>London</option>
                        <option value="Milan" {% if city == "Milan" %} selected {% endif %}>Milan</option>
                        <option value="Belgrade" {% if city == "Belgrade" %} selected {% endif %}>Belgrade</option>
                        <option value="Larissa" {% if city == "Larissa" %} selected {% endif %}>Larissa</option>
                        <option value="Madrid" {% if city == "Madrid" %} selected {% endif %}>Madrid</option>
                        <option value="Malm\u00f6" {% if city == "Malmö" %} selected {% endif %}>Malmö</option>
                        <option value="Quito" {% if city == "Quito" %} selected {% endif %}>Quito</option>
                        <option value="Sf\u00e2ntu Gheorghe" {% if city == "Sfântu Gheorghe" %} selected {% endif %}>Sfântu Gheorghe</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="form-btn">Filter</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="container first-child">
    <div class="row between-md around-xs">
        <div class="col-md-12 col-xs-12 right_column_content accordion_container">
            <div class="lessons_title">Lessons Learned</div>
                <div class="categoriesFilter">
                    <a onclick="filterByCategory(1);">Policy & planning</a>
                    <a onclick="filterByCategory(2);">Social impacts</a>
                    <a onclick="filterByCategory(3);">Co-creation & empowerment</a>
                </div>
            {% for lesson in lessons %}
            <div class="accordion_item key_{{lesson.id}} {% for cat in lesson.category %}category_{{cat}} {% endfor %}">
                <div class="accordion">{{lesson.name}}</div>
                <div class="panel">
                    {% if lesson.four_m %}
                    <p>&nbsp;</p><p><b>4 M</b></p>
                    <ul>
                        {% for four_m in lesson.four_m %}
                        <li>{{four_m}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if lesson.city %}
                    <p>&nbsp;</p><p><b>City</b></p>
                    <ul>
                        {% for city in lesson.city %}
                        <li>{{city}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                </div>
            </div>
            {% endfor %}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

