{% set lessons = filter.lessons %}
<div class="left_column_lessons filter_form_container">
    <form method="get" action="{{url('lessons-learned')}}" id="filter-lessons-form">
        <div id="search" class="search" style="display: flex;">
            <input class="search" name="searchQuery" type="text" autocomplete="on" placeholder="Search" value="{{searchQuery}}">
            <button class="form-btn search-btn" type="submit">
                <i class="pr p-search big"></i>
            </button>

        </div>

        <div class="fields custom-select filter-lessons-form mt-2">

            {% set allChecked = true %}
            {% for cat in categories %}
            {% set allChecked = false %}
            {% endfor %}
            <label class="ch_container">Policy & planning
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="1" id="category_1" {% for category in categories %} {% if category == 1 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>
            <label class="ch_container">Social impact
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="2" id="category_2" {% for category in categories %} {% if category == 2 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>
            <label class="ch_container">Co-creation & empowerment
                <input type="checkbox" onchange="$(this).form().submit();" name="category[]" value="3" id="category_3" {% for category in categories %} {% if category == 3 %} checked="checked" {% endif %}{% endfor %} {% if allChecked %} checked="checked" {% endif %}>
                <span class="checkmark"></span>
            </label>

            <!-- <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="classification-dropdown">Classification</label>
                    <select id="classification-dropdown" name="classification[]" multiple="multiple">
                        <optgroup label="Classifications"></optgroup>
                        <option value="NbS Technical Design" {% if "NbS Technical Design" in classification %} selected {% endif %}>NbS Technical Design & Implementation</option>
                        <option value="NbS Typology" {% if "NbS Typology" in classification %} selected {% endif %}>NbS Typology</option>
                        <option value="Communication and Awareness Raising" {% if "Communication and Awareness Raising" in classification %} selected {% endif %}>Communication & Awareness Raising</option>
                        <option value="Communication Strategy" {% if "Communication Strategy" in classification %} selected {% endif %}>Communication Strategy</option>
                        <option value="NbS Planning" {% if "NbS Planning" in classification %} selected {% endif %}>NbS Planning</option>
                        <option value="Integrated Management System" {% if "Integrated Management System" in classification %} selected {% endif %}>Integrated Management System</option>
                        <option value="Awareness Raising" {% if "Awareness Raising" in classification %} selected {% endif %}>Awareness Raising</option>
                        <option value="INSTRUMENTS AND METHODS" {% if "INSTRUMENTS AND METHODS" in classification %} selected {% endif %}>Instruments & Methods</option>
                        <option value="Collaborative Governance Approaches" {% if "Collaborative Governance Approaches" in classification %} selected {% endif %}>Collaborative Governance Approaches</option>
                    </select>
                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="transversal_topics-dropdown">Transversal Topics</label>
                    <select id="transversal_topics-dropdown" name="transversal_topics[]" multiple="multiple">
                        <optgroup label="Transversal Topics"></optgroup>
                        <option value="Facing COVID-19" {% if "Facing COVID-19" in transversal_topics %} selected {% endif %}>Facing COVID-19</option>
                        <option value="Co-creation" {% if "Co-creation" in transversal_topics %} selected {% endif %}>Co-creation</option>
                    </select>
                </div>
            </div> -->


            <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="four_m">4M</label>
                    <select id="four_m-dropdown" name="four_m[]" multiple="multiple">
                        <optgroup label="4M"></optgroup>
                        <option value="Material" {% if "Material" in four_m %} selected {% endif %}>Material</option>
                        <option value="Methods" {% if "Methods" in four_m %} selected {% endif %}>Methods</option>
                        <option value="Management" {% if "Management" in four_m %} selected {% endif %}>Management</option>
                        <option value="Monitoring" {% if "Monitoring" in four_m %} selected {% endif %}>Monitoring</option>
                    </select>
                </div>
            </div>


            <!-- <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="challenges-dropdown">Challenges</label>
                    <select id="challenges-dropdown" name="challenges[]" multiple="multiple">
                        <optgroup label="Challenges"></optgroup>
                        <option value="Human health" {% if "Human health" in challenges %} selected {% endif %}>Human health and well-being</option>
                        <option value="Sustainable" {% if "Sustainable" in challenges %} selected {% endif %}>Sustainable economic prosperity</option>
                        <option value="Social cohesion" {% if "Social cohesion" in challenges %} selected {% endif %}>Social cohesion and environmental justice</option>
                        <option value="Citizen security" {% if "Citizen security" in challenges %} selected {% endif %}>Citizen security</option>
                    </select>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xs-12 d-grid">
                    <label for="city-dropdown">City</label>
                    <select id="city-dropdown" name="city">
                        <optgroup label="City"></optgroup>
                        <option value="" {% if not city %} selected {% endif %}>Select an option</option>
                        <option value="Hamburg" {% if city == "Hamburg" %} selected {% endif %}>Hamburg</option>
                        <option value="London" {% if city == "London" %} selected {% endif %}>London</option>
                        <option value="Milan" {% if city == "Milan" %} selected {% endif %}>Milan</option>
                        <option value="Belgrade" {% if city == "Belgrade" %} selected {% endif %}>Belgrade</option>
                        <option value="Larissa" {% if city == "Larissa" %} selected {% endif %}>Larissa</option>
                        <option value="Madrid" {% if city == "Madrid" %} selected {% endif %}>Madrid</option>
                        <option value="Malmö" {% if city == "Malmö" %} selected {% endif %}>Malmö</option>
                        <option value="Quito" {% if city == "Quito" %} selected {% endif %}>Quito</option>
                        <option value="Sfântu Gheorghe" {% if city == "Sfântu Gheorghe" %} selected {% endif %}>Sfântu Gheorghe</option>
                    </select>
                </div>
            </div>

            <!--                <div class="row">-->
            <!--                    <div class="col-xs-12">-->
            <!--                        <input name="area" placeholder="CAL/NBS/Area" value="{{area}}">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="row">-->
            <!--                    <div class="col-xs-12">-->
            <!--                        <input name="time" placeholder="Time" value="{{time}}">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="row">-->
            <!--                    <div class="col-xs-12">-->
            <!--                        <input name="contact" placeholder="Contact" value="{{contact}}">-->
            <!--                    </div>-->
            <!--                </div>-->
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="form-btn">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container first-child">
    <div class="row between-md around-xs">
        <div class="col-md-12 col-xs-12 right_column_content accordion_container">
            <div class="lessons_title">Lessons Learned</div>
                <div class="categoriesFilter">
                    <a onclick="filterByCategory(1);">Policy & planning</a>
                    <a onclick="filterByCategory(2);">Social impacts</a>
                    <a onclick="filterByCategory(3);">Co-creation & empowerment</a>
                </div>
            {% for lesson in lessons %}
            <div class="accordion_item key_{{lesson.id}} category_{{lesson.category}}">
                <div class="accordion">{{lesson.name}}</div>
                <div class="panel">
                    <h2>CLASSIFICATION</h2>
                    {% if lesson.classification %}
                    <p><b>Classification</b></p>
                    <ul>
                        {% for classification in lesson.classification %}
                        <li>{{classification}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if lesson.transversal_topics %}
                    <p>&nbsp;</p><p><b>Transversal topics</b></p>
                    <ul>
                        <li>{{lesson.transversal_topics}}</li>
                    </ul>
                    {% endif %}

                    {% if lesson.four_m %}
                    <p>&nbsp;</p><p><b>4 M</b></p>
                    <ul>
                        <li>{{lesson.four_m}}</li>
                    </ul>
                    {% endif %}

                    {% if lesson.challenges %}
                    <p>&nbsp;</p><p><b>Challenges</b></p>
                    <ul>
                        {% for challenge in lesson.challenges %}
                        <li>{{challenge}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if lesson.related_product %}
                    <p>&nbsp;</p><p><b>Related product</b></p>
                    <ul>
                        <li>{{lesson.related_product}}</li>
                    </ul>
                    {% endif %}


                    {% if lesson.city or lesson.area or lesson.scale or lesson.time or lesson.contact or lesson.related_docs or lesson.available_documents %}
                    <h2>INDENTIFICATION</h2>
                    {% if lesson.city %}
                    <p><b>City (Where?):</b> {{lesson.city}}</p>
                    {% endif %}

                    {% if lesson.area %}
                    <p><b>CAL/NBS/ Area (Where?):</b> {{lesson.area}}</p>
                    {% endif %}

                    {% if lesson.scale %}
                    <p><b>Scale (Where it was implented?):</b> {{lesson.scale}}</p>
                    {% endif %}

                    {% if lesson.time %}
                    <p><b>Time (When?):</b> {{lesson.time}}</p>
                    {% endif %}

                    {% if lesson.contact %}
                    <p><b>Contact (Who?):</b> {{lesson.contact}}</p>
                    {% endif %}

                    {% if lesson.related_docs %}
                    <p><b>Related docs/ events/ tools (How?):</b> {{lesson.related_docs}}</p>
                    {% endif %}

                    {% if lesson.available_documents %}
                    <p><b>Available documents:</b> {{lesson.available_documents}}</p>
                    {% endif %}
                    {% endif %}

                    {% if lesson.how_lesson_learned or lesson.needs or lesson.innovation_aspects or lesson.benefits or lesson.key_factors %}
                    <h2>DETAILS/ RELATIONS (Clear statement of the LL)</h2>

                    {% if lesson.how_lesson_learned %}
                    <p><b>How the lesson was learned:</b> {{lesson.how_lesson_learned}}</p>
                    {% endif %}

                    {% if lesson.needs %}
                    <p><b>Needs / Challenges:</b> {{lesson.needs|raw}}</p>
                    {% endif %}

                    {% if lesson.innovation_aspects %}
                    <p><b>Innovation aspects:</b> {{lesson.innovation_aspects}}</p>
                    {% endif %}

                    {% if lesson.benefits %}
                    <p><b>Benefits of using the lesson:</b> {{lesson.benefits}}</p>
                    {% endif %}

                    {% if lesson.key_factors %}
                    <p><b>Key factors:</b> {{lesson.key_factors}}</p>
                    {% endif %}
                    {% endif %}


                    {% if lesson.gaps_identified or lesson.gaps_what or lesson.gaps_how %}
                    <h2>GAPS</h2>

                    {% if lesson.gaps_identified %}
                    <p><b>GAPs identified in T.1.2. (does the lesson learned cover them? Which?:</b> {{lesson.gaps_identified}}</p>
                    {% endif %}

                    {% if lesson.gaps_what %}
                    <p><b>What did not go well?:</b> {{lesson.gaps_what}}</p>
                    {% endif %}

                    {% if lesson.gaps_how %}
                    <p><b>How can barriers be solved?:</b> {{lesson.gaps_how}}</p>
                    {% endif %}
                    {% endif %}

                    {% if lesson.applicability or lesson.adding_resources or lesson.complementary_outputs %}
                    <h2>Explore</h2>

                    {% if lesson.applicability %}
                    <p><b>Applicability to other scales, interventions, areas, cities:</b> {{lesson.applicability}}</p>
                    {% endif %}

                    {% if lesson.adding_resources %}
                    <p><b>Adding resources from/to other policies or plans:</b> {{lesson.adding_resources}}</p>
                    {% endif %}

                    {% if lesson.complementary_outputs %}
                    <p><b>Complementary outputs (not expected):</b> {{lesson.complementary_outputs}}</p>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
            {% endfor %}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

